@charset "utf-8";

/*  Default style sheet for WEB115-N801 Fall 2023

    Author: John Gallagher
    Date: Sept 5, 2023

    Common code below:

    border: 1px solid #A7CD3A;
*/

html {
    margin: 0;
    padding: 0;

    font-family: 'Caveat', cursive;
    font-family: 'Shadows Into Light', cursive;
}