@charset "utf-8";

/*  Default style sheet for WEB115-N801 Fall 2023

    Author: John Gallagher
    Date: Sept 5, 2023

    Common code below:

    border: 1px solid #A7CD3A;
*/

html {
    /*background-color: rgba(0, 161, 255, .55);*/

    margin: 0;
    padding: 0;

    font-family: 'Caveat', cursive;
    font-family: 'Shadows Into Light', cursive;
}

body {
    display: grid;

    grid-template-rows: 7.5vh auto auto 7.5vh;
    grid-template-columns: 12.5vw 74vw 12.5vw;
    grid-template-areas: "nav header header"
                         "nav header header"
                         "main main main"
                         "footer footer footer";

    font-size: 1em;

    width: 100vw;
    max-width: 97vw;
    min-width: 10vw;
}

body > nav > ul {
    list-style-type: none;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;

    margin: 7px 21px;

    font-size: clamp(.8em, 5vw, 1.6em);

    text-align: center;
}

main {
    grid-area: main;

    margin: 7px 21px;

    text-align: justify;
}

.zoom {
    transition: transform 3s;
    width: 726px;
    height: auto;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.75);
}

.imgContainer {
    border-radius: 65%;
    box-shadow: 0 0 5px 10px rgba(0, 161, 255, .55);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: clamp(106px, 100%, 484px);
}

main > .text_box > ol {
    list-style-type: upper-roman;
}

.text_box {
    margin: 3vh 10vw;
    font-size: clamp(.8em, 3vw, 1.2em);
}

footer {
    grid-area: footer;

    font-size: clamp(.4em, 2vw, 1.4em);

    color: black;    

    margin: 25px 35px;

    position: sticky;
    bottom: 0;
}

#f_container {
    margin-bottom: 75px;

    text-align: center;
    text-shadow: 1px 2px 4px #FF5E00;
}

#f_container a {
    text-decoration: none;
}

.brand {
    text-align: center;
}