@charset "utf-8";

/*  Default style sheet for WEB115-N801 Fall 2023

    Author: John Gallagher
    Date: Sept 5, 2023

    Common code below:

    border: 1px solid rgb(96, 231, 55);
*/

html {
    margin: 0;
    padding: 0;

    font-family: 'Caveat', cursive;
    font-family: 'Shadows Into Light', cursive;
}

body {
    display: grid;

    grid-template-rows: 7.5vh auto auto 7.5vh;
    grid-template-columns: 12.25vw 73vw 12.25vw;
    grid-template-areas: "nav nav nav"
                         "header header header"
                         "main main main"
                         "footer footer footer";

    font-size: 1em;

    width: 100vw;
    max-width: 97vw;
    min-width: 10vw;
    height: auto;
}

h2 {
    text-align: center;
    font-size: 3.5em;
}

figcaption {
    text-align: center;
    font-style: italic;
}

nav {
    grid-area: nav;
}

body > nav > ul {
    list-style-type: none;
}

.split_navbar {
    overflow: hidden;
    width: 99vw;   
}

.split_navbar a {
    color: black;

    float: left;

    font-size: clamp(.6em, 3vw, 1.15em); 

    text-align: center;
    text-decoration: none;

    letter-spacing: 2px;
    
    padding: 8px 16px;  
}

.split_navbar a:hover {
    text-shadow: 1px 1px 3px rgb(96, 231, 55);
}

.split_navbar a.split {
    float: right;
}

header {
    grid-area: header;

    /*margin: 7px 21px;*/

    font-size: clamp(.8em, 5vw, 1.6em);

    text-align: center;
    text-shadow: 1px 2px 3px rgb(96, 231, 55);
}

header > hr {
    border: 10px solid black;
    box-shadow: 2px 2px 5px rgb(96, 231, 55);
}

main {
    grid-area: main;

    margin: 7px 21px;

    text-align: justify;
}

main > ol > li {
    color: black;

    text-decoration: none;
}

main > .text_box > ol {
    list-style-type: upper-roman;
}

/*

#zoom {
    transition: transform 2.5s;
    width: 463px;
    height: auto;
    margin: 0 auto;
}

#zoom:hover {
    transform: scale(1.5);
}

*/

.imgContainer {
    border-radius: 1%;
    box-shadow: 2px 2px 6px rgb(96, 231, 55);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: clamp(103px, 85%, 309px);
}

.text_box {
    margin: 3vh 10vw;
    font-size: clamp(.8em, 3vw, 1.2em);
}

footer {
    grid-area: footer;

    font-size: clamp(.55em, 3vw, 1.1em);

    color: black;    

    margin: 25px 35px;

    position: sticky;
    bottom: 0;
}

.brand {
    text-align: center;
}

#f_container {
    margin: 25px 75px;

    color: black;

    text-align: center;
    text-shadow: 1px 1px 3px rgb(96, 231, 55);
}

#f_container a {
    text-decoration: none;
}

#v_container {
    margin: 25px 75px;

    text-align: center;
    text-shadow: 1px 1px 3px rgb(96, 231, 55);
}

#v_container a {
    text-decoration: none;
}