@charset "utf-8";

/*  Default style sheet for WEB115-N801 Fall 2023

    Author: John Gallagher
    Date: Sept 5, 2023

    Common code below:

    border: 1px solid rgb(96, 231, 55);
*/

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}

body {
    width: 100%;
}

/* Nav styling below */

.top-nav {
    overflow: hidden;
}

.top-nav a {
    float: left;
    
    padding: 14px 16px;

    color: black;
    
    text-align: center;
    text-decoration: none;

    font-size: clamp(.5rem, 4vw, 1.2rem);
}

.top-nav a:hover {
    text-shadow: 0px 1px 3px rgb(96, 231, 55);
}

.top-nav a.push-right {
    float: right;
}

/* Header styling below */

header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 33vh;
}

h1 {
    font-size: 3.5rem;

    text-align: center;
}

/* Main styling below */

main {
    display: block;

    text-align: center;

    height: 50vh;
}

h3 {
    font-size: 1.35rem;
    padding: 12px 0;
}

main p {
    padding: 12px 0;
}

/* Footer styling below */

footer {
    text-align: center;
}

.foot-nav {
    overflow: hidden;
}

.foot-nav a {
    color: black;

    text-align: center;
    text-decoration: none;

    font-size: clamp(.425rem, 3vw, .85rem);
}

.foot-nav a.push-left {
    float: left;

    padding: 14px 16px;
}

.foot-nav a:hover, .index-main p strong {
    text-shadow: 0px 1px 3px rgb(96, 231, 55);
}

.foot-nav a.push-right {
    float: right;

    padding: 14px 16px;
}

/* Code below is for the styling of the index page */

.index-main {}

.index-main h2 {
    font-size: clamp(1.25rem, 5vw, 2.5rem);
}

.index-main p {
    padding: 35px 100px;
    font-size: clamp(.5rem, 5vw, 1rem);
    letter-spacing: 1px;
}

.index-main a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.index-main a:visited{
    color: rgb(0, 0, 0);
}